<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Page</title>
<link rel="stylesheet" type="text/css" href="CSS/customer.css">
</head>
<body>
<h2><pre>Congratulations on unlocking unlimited music as a premium member!</pre> 
    <pre> Dive into a world of endless tunes and enjoy the rhythm of every beat!</pre></h2>
<br><br>
<a class="button" href="/viewsongs">VIEW SONGS</a>
<br><br>
<a class="button" href="/createplaylist">CREATE PLAYLIST</a>
<br><br>
<a class="button" href="/viewplaylist">VIEW PLAYLIST</a>
</body>
</html>
