<!DOCTYPE html>
<html>
<head>
  <title>MusicApplication</title>
  <link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
  <div id="header">
    <h1 id="logo">MELOVIBES</h1>
    <div id="buttons">
      <a href="/map-register" class="button">Sign up</a>
      <a href="/map-login" class="button">Login</a>
      <a href="/about-us" class="button">About us</a>
    </div>
  </div>
  <div class="container">
    <h2 id="welcome-text">Welcome to Melovibes</h2>
    <p class="caption">Where every song tells a story</p>
  </div>

  <script src="script.js"></script>
</body>
</html>
