<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="CSS/login.css">
</head>
<body>
<h1>Login and Listen</h1>
<form action="/login" method="post">
  <label>Email</label>
  <input type="email" name="email" required="required">
  <br><br>
  <label>Password</label>
  <input type="password" name="password" required="required">
  <br><br>
  <input type="submit" value="LOGIN">
  <br> <br>
 <a href="/map-register">New User? Register here</a>
</form>
</body>
</html>
