<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="CSS/playlistsearch.css">
</head>
<body>
<h1>Searched PlayLists</h1>
<br>
 <section id="Grid-Section">
        <div class="grid-container">
            <div th:if="${plist != null}">
                <div class="song-card" th:each="plist : ${plist}">
                    <div class="info">    
                        <h3 th:text="${plist.id}">Playlist ID</h3>
                        <span th:text="${plist.name}">Playlist Name</span>
                        <br>
                    </div>
                    <h3>Songs</h3>
                    <div class="audio-container" th:each="song : ${plist.songs}">
                        <span th:text="${song.name}"></span><br>
                        <audio controls="controls">
                            <source th:src="${song.link}" type="audio/mpeg">
                        </audio>
                        <br>
                    </div>
                    <br>
                    <!-- Delete button -->
                    <form th:action="@{/delete-playlist}" method="post">
                        <input type="hidden" th:name="id" th:value="${playlist.id}">
                        <div class="button-container">
                            <button type="submit" id="delete-button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<section id="Sidebar-section">
    <div class="sidebar">
        <div class="admin-choices">
            <a href="/viewplaylist"  class="button">Back</a>
            <br>
        </div>
    </div>
</section>

</body>
</html>
